main {
    font-family: 'Montserrat', sans-serif;
}

main > .row > .col {
    padding: 0 !important;
}

.section {
    padding: 60px 0 !important;
}

/* Animation */
#navbar {
    background: none;

    -webkit-transition: height 0.3s ease, box-shadow 0.3s ease-in-out;
    -moz-transition: height 0.3s ease, box-shadow 0.3s ease-in-out;
    -o-transition: height 0.3s ease, box-shadow 0.3s ease-in-out;
    -ms-transition: height 0.3s ease, box-shadow 0.3s ease-in-out;
    transition: height 0.3s ease, box-shadow 0.3s ease-in-out;
}

#navbar .brand-logo {
    display: inline-block;

    -webkit-transition: transform 0.3s ease;
    -moz-transition: transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    -ms-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
}

#navbar a.navbar-item {
    -webkit-transition: color 0.3s ease, font-size 0.3s ease, padding-top 0.3s ease;
    -moz-transition: color 0.3s ease, font-size 0.3s ease, padding-top 0.3s ease;
    -o-transition: color 0.3s ease, font-size 0.3s ease, padding-top 0.3s ease;
    -ms-transition: color 0.3s ease, font-size 0.3s ease, padding-top 0.3s ease;
    transition: color 0.3s ease, font-size 0.3s ease, padding-top 0.3s ease;
}

#navbar .nav-wrapper {
    -webkit-transition: background 0.3s ease;
    -moz-transition: background 0.3s ease;
    -o-transition: background 0.3s ease;
    -ms-transition: background 0.3s ease;
    transition: background 0.3s ease;
}

nav ul a {
    text-transform: uppercase;
}

nav ul a:hover {
    background-color: transparent !important;
}

nav ul a.active {
    color: #03a9f4 !important;
    font-weight: 600;
}

/* BIG SCREEN */
@media only screen and (min-width: 600px) {
    .nav-collapsed {
        box-shadow: none;
    }

    .nav-collapsed .nav-wrapper {
        background: transparent !important;
    }

    .nav-expaneded {
        height: 70px;
    }

    .nav-expaneded .nav-wrapper {
        background: #fff !important;
    }

    #navbar .big-brand-logo {
        transform: scale(1.2);
    }

    #navbar a.big-navbar-item {
        color: #000;
        /* font-size: 1.1rem !important; */
        padding-top: 5px;
    }
}

/* SMALL SCREEN */
@media only screen and (max-width: 600px) {
    /* #navbar .brand-logo {
        font-size: 1.5rem;
    } */
}

/* #region */
/* Landing */
#home {
    /* background: silver; */
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.55)), url('../img/landing-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#home .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #fff;
}

/* re */
/* Sidenav */
.sidenav .social-link a {
    font-size: 18px;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
}

.sidenav li > a > i {
    margin: 0 28px 0 0;
    font-size: 24px;
}

.sidenav li > a,
.sidenav li > a > i {
    color: #757575 !important;
}

.sidenav li > a.active,
.sidenav li > a.active > i {
    color: #fff !important;
    font-weight: bold;
}

/* Floating buttons */
#sidenav-closer {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 999;
}

#slide-up {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

/* Section */
h3.section-title {
    font-weight: bold;
    font-size: 2rem;
    margin-top: 0;
}

h3.section-title::after {
    content: '';
    position: relative;
    display: block;
    width: 70px;
    height: 5px;
    background: #03a9f4;
    border-radius: 5px;
    margin-top: 10px;
}

/* Skills section */
#skills-grid {
    min-height: 800px;
}

#skills button {
    width: 120px;
    margin: 5px;
    font-weight: 500;
    border-radius: 50px;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.helper2 {
    display: inline-block;
    height: 80%;
    vertical-align: middle;
}

.skill-item {
    /* text-align: center; */
    position: relative;
}

.skill-item .image-container {
    height: 200px;
}

.skill-item img {
    vertical-align: middle;
    -webkit-transition: opacity 0.1s ease;
    -moz-transition: opacity 0.1s ease;
    -o-transition: opacity 0.1s ease;
    -ms-transition: opacity 0.1s ease;
    transition: opacity 0.1s ease;
}

.skill-item .skill-overlay-text {
    color: white;
    font-size: 1.25rem;
    font-weight: bold;

    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.skill-item .skill-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    overflow: hidden;
    width: 100%;
    height: 0;
    opacity: 0;

    -webkit-transition: height 0.25s ease, opacity 0.25s ease;
    -moz-transition: height 0.25s ease, opacity 0.25s ease;
    -o-transition: height 0.25s ease, opacity 0.25s ease;
    -ms-transition: height 0.25s ease, opacity 0.25s ease;
    transition: height 0.25s ease, opacity 0.25s ease;
}

.skill-item:hover .skill-overlay {
    height: 100%;
    opacity: 1;
}

.skill-item:hover img {
    opacity: 0.2;
}

/* Achievements section */
#achievements .classification {
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 0;
}

#achievements .achievement-title {
    font-weight: 600;
    font-size: 1.25rem;
    text-transform: uppercase;
}

/* Contact */
#contact a i {
    font-size: 1.25rem !important;
}

#contact a {
    margin-right: 15px;
}

/* Helper class */
.pb-2 {
    padding-bottom: 0.5rem;
}

.pb-3 {
    padding-bottom: 1rem;
}

.pb-4 {
    padding-bottom: 1.5rem;
}

.pb-5 {
    padding-bottom: 3rem;
}

.mt-0 {
    margin-top: 0 !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mb-1 {
    margin-bottom: 0.25rem !important;
}

.mb-2 {
    margin-bottom: 0.5rem !important;
}

.mb-3 {
    margin-bottom: 1rem !important;
}

.mb-4 {
    margin-bottom: 1.5rem !important;
}

.mb-5 {
    margin-bottom: 3rem !important;
}

.txt-xs {
    font-size: 0.75rem !important;
}

/* 
2 * 0.5rem
3 * 1rem
4 * 1.5rem
5 * 3rem
 */

/*  
 0.75 - 12px
 1.5 - 24px
 2 - 32px
  */
/* #endregion */
