* {
    font-family: 'Montserrat', sans-serif;
    color: #333333;
}

body {
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url('https://www.toptal.com/designers/subtlepatterns/patterns/what-the-hex.png');
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#navbar {
    background: transparent;
    box-shadow: none;

    -webkit-transition: box-shadow 0.3s ease, background 0.1s ease;
    -moz-transition: box-shadow 0.3s ease, background 0.1s ease;
    -o-transition: box-shadow 0.3s ease, background 0.1s ease;
    -ms-transition: box-shadow 0.3s ease, background 0.1s ease;
    transition: box-shadow 0.3s ease, background 0.1s ease;
}

.navbar-shadow {
    background: #fff !important;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1) !important;
}

#navbar .brand-logo {
    font-size: 2rem;
    font-weight: 700 !important;
    color: #333333 !important;
}

#navbar li a {
    color: #333333 !important;
}

#home {
    height: calc(100vh - 64px);
    box-sizing: border-box;
}

#home .tagline {
    font-size: 5.625rem !important;
    font-weight: 800;
    margin-bottom: 50px;
}
#home .subheadline {
    line-height: 1.5em;
    margin-bottom: 40px;
}

#home .subheadline b {
    font-weight: 600;
}

#home .cta {
    margin-right: 10px;
}

#home .non-cta {
    background: #fff;
    color: #333333;
}

#portfolio {
    padding-top: 80px;
}

#portfolio .headline {
    position: relative;
    margin-bottom: 120px;
    text-align: center;
    font-weight: 800;
    letter-spacing: 8px;
    text-transform: uppercase;
}

#portfolio .headline:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 25px;
    border-top: 3px solid #ccc;
    border-radius: 50px;
    width: 25%;
}

#portfolio .headline:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 25px;
    border-top: 3px solid #ccc;
    border-radius: 50px;

    width: 25%;
}
/* .wrap:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    border-top: 1px solid black;
    background: black;
    width: 100%;
    transform: translateY(-50%);
  } */

#portfolio .projects {
    display: flex;
    flex-direction: column;
}

#portfolio .project-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#portfolio .project-title {
    font-weight: 600;
    margin-top: 0;
}

#portfolio .project {
    flex: 1;
    display: flex;
    flex-direction: row;
    margin-bottom: 200px;
}

#portfolio .project p {
    font-family: 'Lato', sans-serif;
    line-height: 1.75 !important;
    font-size: 1.125rem;
}

#portfolio .tech-stack {
    margin-top: 20px;
}

#portfolio .project-media {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 80px;
}

#portfolio .project-media-left {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 80px;
}

#portfolio .project-media-img {
    width: 100%;
    height: auto;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

#spacer {
    height: 1000px;
}

.no-padding {
    padding: 0;
}

.btn {
    border-radius: 50px;
}

.chip {
    font-size: 10px;
    font-weight: 600;
}
