* {
    font-family: 'Montserrat', sans-serif;
    color: #333333;
}

body {
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url('https://www.toptal.com/designers/subtlepatterns/patterns/what-the-hex.png');
}

#navbar {
    background: transparent;
    box-shadow: none;

    -webkit-transition: box-shadow 0.3s ease, background 0.1s ease;
    -moz-transition: box-shadow 0.3s ease, background 0.1s ease;
    -o-transition: box-shadow 0.3s ease, background 0.1s ease;
    -ms-transition: box-shadow 0.3s ease, background 0.1s ease;
    transition: box-shadow 0.3s ease, background 0.1s ease;
}

.navbar-shadow {
    background: #fff !important;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1) !important;
}

#navbar .brand-logo {
    font-size: 2rem;
    font-weight: 700 !important;
    color: #333333 !important;
}

#navbar li a {
    color: #333333 !important;
}

#home {
    padding-top: 100px;
    padding-bottom: 100px;
}

.tagline {
    font-size: 4.375rem !important;
    font-weight: 800;
    margin-bottom: 50px;
}
.subheadline {
    font-size: 29px;
    line-height: 1.5em;
    margin-bottom: 30px;
}

.subheadline b {
    font-weight: 600;
}

#home .cta {
    margin-right: 10px;
}

#home .non-cta {
    background: #fff;
    color: #333333;
}

#portfolio .headline {
    margin-bottom: 50px;
    text-align: center;
    font-weight: 800;
}

#portfolio {
    /* padding-top: 100px; */
    padding-bottom: 100px;
}

#portfolio .projects {
    display: flex;
    flex-direction: column;
    /* background: khaki; */
    /* border: 1px solid khaki; */
}

#portfolio .project-details {
    flex: 1;
    /* padding-top: 30px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#portfolio .project-title {
    font-weight: 700;
    font-size: 2.5rem;
    margin-bottom: 30px;
}

#portfolio .project {
    flex: 1;
    display: flex;
    flex-direction: row;
    margin-bottom: 120px;
}

#portfolio .project p {
    font-family: 'Lato', sans-serif;
    line-height: 1.75 !important;
    font-size: 1.125rem;
}

#portfolio .tech-stack {
    margin-top: 30px;
}

#portfolio .project-media {
    flex: 2;
    padding-left: 50px;
}

#portfolio .project-media-left {
    flex: 2;
    padding-right: 50px;
}

#portfolio .project-media-img {
    width: 100%;
    height: auto;
}

#spacer {
    height: 1000px;
}

.no-padding {
    padding: 0;
}

.btn {
    border-radius: 50px;
}

.chip {
    font-size: 10px;
    font-weight: 600;
}
